<div class="sidebar d-flex flex-column mr-50">
    <button class="btn btn-primary btn-icon-primary">
        <i class="fa-solid fa-question mr-5"></i>
        <span>Poser une question</span>
    </button>

    <ul class="sidebar-nav py-20">
        <li class="active">
        <i class="fa-solid fa-house-chimney"></i>
            Liste des questions
        </li>
        <li>
        <i class="fa-regular fa-pen-to-square"></i>
            Mes questions
        </li>
        <li>
        <i class="fa-regular fa-comments"></i>
            Mes réponses
        </li>
    
    </ul>
</div>